## Step-by-Step Tutorial: Connecting Python and SQL

In this tutorial, we will walk through the process of connecting Python and SQL, allowing you to interact with databases using Python. We will cover the following steps:

1. Importing the necessary libraries.
2. Establishing a connection to the SQL database.
3. Executing SQL queries using Python.
4. Retrieving and manipulating data from the database.
5. Closing the database connection.

### Step 1: Importing the necessary libraries
To get started, let's import the required libraries for our tutorial. We'll be using the pandas library for data manipulation and the psycopg2 library for connecting to a PostgreSQL database.

In [9]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from config import *

### Step 2: Establishing a connection to the SQL database
Next, we need to establish a connection to our PostgreSQL database. Replace the .env file with your actual database credentials.

In [10]:
try:
    conn  = psycopg2.connect(
        host = DB_HOST,
        port = DB_PORT,    
        database = DB_NAME,
        user = DB_USER,
        password = DB_PASSWORD
    )
    # Create a cursor
    cursor = conn.cursor()
    print("Successfully connected to the database!")
    # You can now execute SQL queries using the 'cursor' object.

except Exception as e:
    print("Unable to connect to the database:", e)

Successfully connected to the database!

In [11]:
# Create an SQLAlchemy engine from the psycopg2 connection
engine = create_engine('postgresql+psycopg2://', creator=lambda: conn)

### Step 3: Executing SQL queries using Python
Now that we have a database connection, let's execute some SQL queries using Python.

In [12]:
# Function to execute a SQL query and return the result as a Pandas DataFrame
def execute_query(query):
    try:
        df = pd.read_sql_query(query, engine)
        return df
    except Exception as e:
        print("Error: Unable to execute the query.")
        print(e)

In [14]:
# Example: Fetch all records from a table
query = "SELECT * FROM people;"
df = execute_query(query)
df

,id,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,planet_id,created_date,updated_date,url
0,1,Luke Skywalker,172.0,77.0,blond,fair,blue,19BBY,male,1,2014-12-09 13:50:51.644000,2014-12-20 21:17:56.891000,https://swapi.co/api/people/1/
1,2,C-3PO,167.0,75.0,n/a,gold,yellow,112BBY,n/a,1,2014-12-10 15:10:51.357000,2014-12-20 21:17:50.309000,https://swapi.co/api/people/2/
2,3,R2-D2,96.0,32.0,n/a,"white, blue",red,33BBY,n/a,8,2014-12-10 15:11:50.376000,2014-12-20 21:17:50.311000,https://swapi.co/api/people/3/
3,4,Darth Vader,202.0,136.0,none,white,yellow,41.9BBY,male,1,2014-12-10 15:18:20.704000,2014-12-20 21:17:50.313000,https://swapi.co/api/people/4/
4,5,Leia Organa,150.0,49.0,brown,light,brown,19BBY,female,2,2014-12-10 15:20:09.791000,2014-12-20 21:17:50.315000,https://swapi.co/api/people/5/
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,85,Rey,NaN,NaN,brown,light,hazel,None,female,28,2015-04-17 06:54:01.495077,2015-04-17 06:54:01.495128,https://swapi.co/api/people/85/
83,86,Poe Dameron,NaN,NaN,brown,light,brown,None,male,28,2015-04-17 06:55:21.622786,2015-04-17 06:55:21.622835,https://swapi.co/api/people/86/
84,87,BB8,NaN,NaN,none,none,black,None,none,28,2015-04-17 06:57:38.061346,2015-04-17 06:57:38.061453,https://swapi.co/api/people/87/
85,88,Captain Phasma,NaN,NaN,None,None,None,None,female,28,2015-10-13 10:35:39.229823,2015-10-13 10:35:39.229894,https://swapi.co/api/people/88/
86,35,PadmÃ© Amidala,165.0,45.0,brown,light,brown,46BBY,female,8,2014-12-19 17:28:26.926000,2016-04-20 17:06:31.502555,https://swapi.co/api/people/35/

### Step 4: Retrieving and manipulating data from the database
We have retrieved the data from the database and stored it in a Pandas DataFrame. Now, let's explore the data and perform some basic manipulations.

In [15]:
# Display the first few rows of the DataFrame
df.head()

,id,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,planet_id,created_date,updated_date,url
0,1,Luke Skywalker,172.0,77.0,blond,fair,blue,19BBY,male,1,2014-12-09 13:50:51.644,2014-12-20 21:17:56.891,https://swapi.co/api/people/1/
1,2,C-3PO,167.0,75.0,n/a,gold,yellow,112BBY,n/a,1,2014-12-10 15:10:51.357,2014-12-20 21:17:50.309,https://swapi.co/api/people/2/
2,3,R2-D2,96.0,32.0,n/a,"white, blue",red,33BBY,n/a,8,2014-12-10 15:11:50.376,2014-12-20 21:17:50.311,https://swapi.co/api/people/3/
3,4,Darth Vader,202.0,136.0,none,white,yellow,41.9BBY,male,1,2014-12-10 15:18:20.704,2014-12-20 21:17:50.313,https://swapi.co/api/people/4/
4,5,Leia Organa,150.0,49.0,brown,light,brown,19BBY,female,2,2014-12-10 15:20:09.791,2014-12-20 21:17:50.315,https://swapi.co/api/people/5/

In [17]:
# Perform data manipulations
# Example: Filter the DataFrame based on a condition
filtered_df = df[df['gender'] == 'female']
filtered_df

,id,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,planet_id,created_date,updated_date,url
4,5,Leia Organa,150.0,49.0,brown,light,brown,19BBY,female,2,2014-12-10 15:20:09.791000,2014-12-20 21:17:50.315000,https://swapi.co/api/people/5/
6,7,Beru Whitesun lars,165.0,75.0,brown,light,blue,47BBY,female,1,2014-12-10 15:53:41.121000,2014-12-20 21:17:50.319000,https://swapi.co/api/people/7/
26,28,Mon Mothma,150.0,NaN,auburn,fair,blue,48BBY,female,32,2014-12-18 11:12:38.895000,2014-12-20 21:17:50.364000,https://swapi.co/api/people/28/
40,43,Shmi Skywalker,163.0,NaN,black,fair,brown,72BBY,female,1,2014-12-19 17:57:41.191000,2014-12-20 21:17:50.401000,https://swapi.co/api/people/43/
43,46,Ayla Secura,178.0,55.0,none,blue,hazel,48BBY,female,37,2014-12-20 09:48:01.172000,2014-12-20 21:17:50.409000,https://swapi.co/api/people/46/
51,55,Adi Gallia,184.0,50.0,none,dark,blue,None,female,9,2014-12-20 10:29:11.661000,2014-12-20 21:17:50.432000,https://swapi.co/api/people/55/
57,61,CordÃ©,157.0,NaN,brown,light,brown,None,female,8,2014-12-20 11:11:39.630000,2014-12-20 21:17:50.449000,https://swapi.co/api/people/61/
60,64,Luminara Unduli,170.0,56.2,black,yellow,blue,58BBY,female,51,2014-12-20 16:45:53.668000,2014-12-20 21:17:50.455000,https://swapi.co/api/people/64/
61,65,Barriss Offee,166.0,50.0,black,yellow,blue,40BBY,female,51,2014-12-20 16:46:40.440000,2014-12-20 21:17:50.457000,https://swapi.co/api/people/65/
62,66,DormÃ©,165.0,NaN,brown,light,brown,None,female,8,2014-12-20 16:49:14.640000,2014-12-20 21:17:50.460000,https://swapi.co/api/people/66/
66,70,Zam Wesell,168.0,55.0,blonde,"fair, green, yellow",yellow,None,female,54,2014-12-20 16:57:44.471000,2014-12-20 21:17:50.468000,https://swapi.co/api/people/70/
69,73,Taun We,213.0,NaN,none,grey,black,None,female,10,2014-12-20 17:31:21.195000,2014-12-20 21:17:50.474000,https://swapi.co/api/people/73/
70,74,Jocasta Nu,167.0,NaN,white,fair,blue,None,female,9,2014-12-20 17:32:51.996000,2014-12-20 21:17:50.476000,https://swapi.co/api/people/74/
72,75,R4-P17,96.0,NaN,none,"silver, red","red, blue",None,female,28,2014-12-20 17:43:36.409000,2014-12-20 21:17:50.478000,https://swapi.co/api/people/75/
75,78,Shaak Ti,178.0,57.0,none,"red, blue, white",black,None,female,58,2014-12-20 18:44:01.103000,2014-12-20 21:17:50.486000,https://swapi.co/api/people/78/
79,82,Sly Moore,178.0,48.0,none,pale,white,None,female,60,2014-12-20 20:18:37.619000,2014-12-20 21:17:50.496000,https://swapi.co/api/people/82/
82,85,Rey,NaN,NaN,brown,light,hazel,None,female,28,2015-04-17 06:54:01.495077,2015-04-17 06:54:01.495128,https://swapi.co/api/people/85/
85,88,Captain Phasma,NaN,NaN,None,None,None,None,female,28,2015-10-13 10:35:39.229823,2015-10-13 10:35:39.229894,https://swapi.co/api/people/88/
86,35,PadmÃ© Amidala,165.0,45.0,brown,light,brown,46BBY,female,8,2014-12-19 17:28:26.926000,2016-04-20 17:06:31.502555,https://swapi.co/api/people/35/

In [18]:
# Example: Perform aggregations
aggregated_df = df.groupby('gender').sum('heigth')
aggregated_df

                 id   height    mass  planet_id
gender
female         1100   2813.0   540.2        483
hermaphrodite    16    175.0  1358.0         24
male           2660  10575.0  3564.2       1574
n/a              13    360.0   139.0         10
none            110    200.0   140.0         56

### Step 5: Closing the database connection
Once we are done working with the database, it's important to close the connection properly.

In [19]:
# Close the database connection
conn.close()